body{

margin:0;
font-family:'Orbitron', sans-serif;
background:#050505;
color:white;
text-align:center;

}

header{

padding:80px;
background:linear-gradient(90deg,#00f7ff,#6a00ff);

}

h1{

font-size:70px;
letter-spacing:5px;

}

nav{

background:#0d0d0d;
padding:20px;

}

nav a{

color:white;
margin:20px;
text-decoration:none;
font-size:20px;
transition:0.3s;

}

nav a:hover{

color:#00f7ff;

}

.section{

padding:70px;

}

.live-container{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}

iframe{

border-radius:15px;
box-shadow:0 0 30px #00f7ff;

}

.clips{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;

}

footer{

margin-top:50px;
padding:30px;
background:#0d0d0d;

}

@media(max-width:900px){

.live-container{

flex-direction:column;
align-items:center;

}

}